.proccess-loader.MuiStack-root  {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw; 
    min-height: 100vh;
    height: "100%"; 
    width: "100%";
  .MuiTypography-root {
      color: #232773;
    }
  }


