.subscription-payment-summary {
  &.MuiStack-root {
    gap: 10px;
    padding: 2.5rem 1rem 1rem;

    & .icon-label-value-container {
      & .MuiTypography-root {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    & .iconLabel-value-typography {
      color: var(--grey-900);
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}

.subscription-summary-total {
  color: #232773;

  &.MuiStack-root {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #EBECF9;
    border-radius: 1rem;
    margin-top: 2.5rem;
    color: #232773;

    & .icon-label-value-container {
      width: 100%;
      color: #232773;

      & .MuiTypography-root {
        font-size: 1.25rem;
        font-weight: 600;
      }

      & .iconLabel-value-typography {
        // color: #232773;
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  }
}