.clients-reciepts-details {
  &.MuiStack-root {
    padding: 1rem;
    gap: 12px;
  }
  & .MuiStack-root:first-child {
    .icon-label-value-container:first-child {
      &.MuiStack-root {
        & .MuiTypography-root {
          font-size: 20px;
          font-weight: 600;
          color: var(--grey-900);
        }
      }
    }
  }
}
.reciept-done-payment {
  & .MuiStack-root {
    color: #6ec531;
  }
}
.reciept-due-payment {
  & .MuiStack-root {
    color: #232773;
  }
}
.container-border-padding {
  border: 2px solid var(--grey-700);
  padding: 1rem;
  border-radius: 1rem;
}
.container-grey-border {
  border: 2px solid var(--grey-700);
  // padding: 1rem;
  border-radius: 1rem;
}

.reciept-form-inputs {
  &.MuiStack-root {
    & .MuiInputBase-input {
      font-size: 14px;
    }
  }
}
