.logout-container.MuiButtonBase-root {
  background-color: var(--grey-500);
  border-radius: 20rem;
  width: 100%;
  padding: 1.5rem;
  cursor: pointer;
  & .MuiTypography-root {
    letter-spacing: 1px;
  }
}
