// Grey colors
$grey-0: #ffffff;
$grey-100: #2d2d2d33;
$grey-200: #2d2d2d0d;
$grey-300: #2d2d2dcc;
$grey-400: #2d2d2d66;
$grey-500: #2d2d2d0d;
$grey-600: #2d2d2d99;
$grey-700: #2d2d2d1a;
$grey-800: #2d2d2d9c;
$grey-900: #2d2d2d;

// Primary colors
$primary-lighter: #d0ecfe;
$primary-light: #73bafb;
$primary-main: #232773;
$primary-dark: #0c44ae;
$primary-darker: #042174;
$primary-contrastText: #ffffff;

// Secondary colors
$secondary-lighter: #efd6ff;
$secondary-light: #c684ff;
$secondary-main: #6ec531;
$secondary-dark: #2e6d01;
$secondary-darker: #27097a;
$secondary-contrastText: #ffffff;

// Info colors
$info-lighter: #cafdf5;
$info-light: #61f3f3;
$info-main: #00b8d9;
$info-dark: #006c9c;
$info-darker: #003768;
$info-contrastText: #ffffff;

